.admin-container {
    background-color: rgb(214, 214, 214);
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    overflow: auto;
}

.user-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 5rem;
    background-color: rgba(128, 128, 128, 0.7);
    color: white;
    border-radius: 1rem;
    margin: 12px 5px;
    transition: all 0.3s ease-in-out;
}

.user-card:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 1);
}